#contact-content{
    padding: 50px 0;
}

.contact-content-subtitlu{
    font-size: 1.4em;
    font-weight: 600;
 
}

.contact-content{
    margin-bottom: 1em;
    font-size: 1.2em;
}

.contact-content a{
    text-decoration: none;
    color:var(--primary-color);
    transition: all .5s;
    font-weight: 600;
    font-size: 1.2em;
}

.contact-content a:hover{
    letter-spacing: .3px;
}

#contactForm .form-group{
    margin-bottom: 1em;
}

#contactForm .form-group label{
    font-size: 1.4em;
    margin-bottom: .2em;
    font-weight: 600;
}

#btn-trimite.btn-primary{
    background: var(--text-color);
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 0;
    border: 2px solid var(--text-color);
    transition: all .5s;
    border-radius: 5px;
    color: #fff;
}

#btn-trimite.btn-primary:hover{
    background: #fff;
    color: var(--text-color);
}


.contact-content-text,
.contact-content-form{
    height: 100%;
}

.contact-content-text{
    border: 2px solid var(--text-color);
    border-radius: 5px;
}

.contact-content-text iframe{
    border-radius: 5px;
}
.contact-content-icon i{
    display: inline-block;
    width: 1.8rem;
    font-size: 1.4em;
}

#contactForm .form-control{
    border-radius: 0;
    border: 2px solid var(--text-color);
    line-height: 2;
    border-radius: 5px;
}

.contact-lista-wrapper{
    padding: 50px 0 0 0;
}

.contact-lista-item{
    border: 2px solid var(--text-color);
    border-radius: 5px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    flex-direction: column;
}

.contact-lista-item-icon{
    width: 50px;
    height: 50px;
    border: 2px solid var(--text-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}


.contact-lista-item-icon i{
    font-size: 30px;
    color: var(--primary-color);
}

.contact-lista-item-content{
    text-align: center;
}

.contact-lista-item-content-titlu{
    font-weight: 600;
    font-size: 1.4em;
    color:var(--primary-color);
}

.contact-lista-item-content-text{
    font-size: 1.2em;
}

#message-info.bg-danger,
#message-info.bg-success{
    padding: 0.5em 1em;
    font-size: 1.2em;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 1em;
}

#btn-trimite:focus{
    box-shadow: unset;
}