
/* despre continut */
#despre-content{
    padding: 50px 0;
}

.despre-content-img-wrapper .despre-content-img-big{
    overflow: hidden;
    position: relative;
    border: 5px solid var(--secondary-color);
    z-index: 1;
    border-radius: 50%;
    transition: all .5s

}

.despre-content-img-wrapper .despre-content-img-big:hover{
    box-shadow: rgb(50 50 93 / 25%) 0px 13px 27px -5px, rgb(0 0 0 / 30%) 0px 8px 16px -8px;
}

.despre-content-img-big .despre-content-img{
    overflow: hidden;
    background-image: url('./imagini/images/a1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    border-radius: 50%;
    transition: all .5s;
}

.despre-content-img-big:hover .despre-content-img{
    transform: scale(1.2);
}

.despre-content-img-big .despre-content-img::before{
    content: '';
    display: block;
    padding-bottom: 100%;
}

.despre-content-img-big .overlay-despre-content-img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    background: rgba(0,0,0, .5);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all .5s;
    border-radius: 50%; 
}

.despre-content-img-big:hover .overlay-despre-content-img{
    transform: scale(1)
}

.overlay-despre-content-img-link{
    display: flex;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.6em;
    color: var(--text-color);
    transition: all .5s;
}

.overlay-despre-content-img-link:hover{
    color:#fff;
    background: var(--text-color);
}
/* 
.despre-content-img-wrapper .despre-content-img::after{
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%;
    background: rgba(0,0,0,.5);
    border-radius: 50%;
    content: '';
    z-index: 3;
    transition: all .5s;
}

.despre-content-img-wrapper:hover .despre-content-img::after{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
} */


.row.rand-despre-content{
    align-items: center;
}

.despre-content-titlu{
    font-size: 2.4em;
    color: var(--text-color);
    font-weight: 600;
    text-transform: capitalize;
}

.despre-content-titlu span{
    display: block;
}

.despre-content-subtitlu{
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1.4em;
    margin-bottom: 3em;
    text-transform: uppercase;
}

.despre-content-citat{
    font-size: 1.2em;
}

/* responsive */
@media screen and (max-width: 991px) {
    .despre-content-img-wrapper .despre-content-img-big{
        width: 70%;
        margin: auto;
    }

    .despre-content-titlu{
        font-size: 2.4em;
    }
}

@media screen and (max-width: 767px) {
    .despre-content-titlu{
        font-size: 1.8em;
    }
}

@media screen and (max-width: 575px) {
    .despre-content-titlu{
        font-size: 1.6em;
    }
    .despre-content-subtitlu{
        font-size: 1.2em;
    }

    .despre-content-citat{
        font-size: 1.2em;
    }
}
