/* despre continut */
#despre-content{
    padding: 50px 0;
}

.despre-content-img{
    position: relative;
    z-index: 1;
}

.despre-content-img::after{
    position: absolute;
    content: "";
    top: -10px;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(18, 167, 167, 0.5);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    z-index: -1;
}

.despre-content-image-wrapper{
    overflow: hidden;
    border-radius: 50%
}

.despre-content-image{
    position: relative;
    z-index: 1;
    background-image:url('./imagini/images/a1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    transition: all .5s;
}

.despre-content-image:hover{
    transform: scale(1.2);
}

.despre-content-image::before{
    display: block;
    padding-bottom: 100%;
    content: '';
}


.row.rand-despre-content{
    align-items: center;
}

.despre-content-titlu{
    font-size: 2.4em;
    color: var(--text-color);
    font-weight: 600;
    text-transform: capitalize;
}

.despre-content-titlu span{
    display: block;
}

.despre-content-subtitlu{
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1.4em;
    margin-bottom: 3em;
    text-transform: uppercase;
}

.despre-content-citat{
    font-size: 1.2em;
}

.despre-content-image .overlay-despre-content-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0, 0.5);
    transition: all .5s;
    overflow: hidden;
    visibility: hidden;
}
.despre-content-image:hover .overlay-despre-content-image{
    visibility: visible;
}

.despre-content-image .overlay-despre-content-image-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: #fff;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.2em;
    border-radius: 50%;
    transition: all .5s;
    transform: translateY(-500%);
}

.despre-content-image:hover .overlay-despre-content-image-link{
    transform: translateY(0);

}

.overlay-despre-content-image-link:hover{
    color: #fff;
    background: var(--primary-color);
    text-decoration: none;
}





/* responsive */
@media screen and (max-width: 991px) {
    .despre-content-img-wrapper .despre-content-img-big{
        width: 70%;
        margin: auto;
    }

    .despre-content-titlu{
        font-size: 2.4em;
    }
}

@media screen and (max-width: 767px) {
    .despre-content-titlu{
        font-size: 1.8em;
    }
}

@media screen and (max-width: 575px) {
    .despre-content-titlu{
        font-size: 1.6em;
    }
    .despre-content-subtitlu{
        font-size: 1.2em;
    }

    .despre-content-citat{
        font-size: 1.2em;
    }
}
