#galerie-content{
    padding: 50px 0;
}

.galerie-item-image-big-wrapper{
    position: relative;
    z-index: 1;
}

.galerie-item-image-big-wrapper::after{
    position: absolute;
    content: "";
    top: -10px;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(18, 167, 167, 0.5);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    z-index: -1;
}

.galerie-item-image-wrapper{
    overflow: hidden;
    border-radius: 50%

}

.galerie-item-wrapper{
    margin-bottom: 3em;
}

.galerie-item .galerie-item-image{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    transition: all .5s;
    z-index: 1;
}

.galerie-item-image::before{
    content: '';
    display: block;
    padding-bottom: 100%;
}

.galerie-item:hover .galerie-item-image{
    transform: scale(1.2);
}

.galerie-item1{
    background-image: url('./imagini/images/a2.jpg');
}

.galerie-item2{
    background-image: url('./imagini/images/a3.jpg');
}

.galerie-item3{
    background-image: url('./imagini/images/a4.jpg');
}

.galerie-item4{
    background-image: url('./imagini/images/a5.jpg');
}

.galerie-item5{
    background-image: url('./imagini/images/a6.jpg');
}

.galerie-item6{
    background-image: url('./imagini/images/a7.jpg');
}

.galerie-item7{
    background-image: url('./imagini/images/a8.jpg');
}

.galerie-item8{
    background-image: url('./imagini/images/a9.jpg');
}

.galerie-item .overlay-galerie-item{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(0,0,0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    transition: all .5s;
}

.galerie-item:hover .overlay-galerie-item{
    visibility: visible;
}



.galerie-item .overlay-galerie-item-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: #fff;
    font-size: 1.2em;
    color: var(--text-color);
    border-radius: 50%;
    text-decoration: none;
    transform: translateY(-500%);
    transition: all .5s;
}

.galerie-item:hover .overlay-galerie-item-link{
    transform: translateY(0);
}

.overlay-galerie-item-link:hover{
    color: #fff;
    background: var(--primary-color);
}

