@media screen and (max-width:991px){

    
    header .navbar-brand img{
        width: 80px;
    }

     header .navbar-expand-lg.navbar{
        padding: .5em 15px;
    }
    
    .collapse:not(.show){
        display: inherit;
    }

    .navbar-collapse{
        background: rgb(255,255,255);
        position: fixed;
        width: 300px;
        left: 0px;
        top: 0px;
        height: 100vh;
        transform:translateX(-100%);
        transition: all .5s;
        visibility: hidden
    }

    .navbar-collapse.show{
        transform: translateX(0);
        visibility: visible;
    }

    .navbar-nav{
        height: 100vh;
        text-align: left;
        padding: 0 15px;

    }

    .navbar-expand-lg .navbar-nav .nav-link{
        font-size: 1.2em;
        line-height: 1.2;
    }
    .navbar-expand-lg .navbar-nav .nav-link::before,
    .navbar-expand-lg .navbar-nav .nav-link.active::before{
        left: 0;
    }

    .close-navbar-wrapper{
        display: flex;
    }

    .navbar-expand-lg .navbar-nav .nav-link:hover::before{
        display: none;
    }

    .slider-home-img::before,
    .page-img::before{
        padding-bottom: 40vh;
    }

    .m-title{
        margin-bottom: 1.4em;
    }

    /* contact css */
    .contact-lista-item-wrapper{
        margin-bottom: 3rem;
    }

    #contact-content{
        padding-top: 0;
    }

    .contact-content-form-wrapper{
        margin-top: 3rem;
    }

    /* modul servicii */
    .m-servicii-item-wrapper{
        margin-bottom: 3em;
    }

    .m-servicii-item-img-wrapper{
        width: 70%;
        margin: auto;
    }

    /* modul bowen */
    .m-bowen-item-wrapper{
        margin-bottom: 3em
    }

    #m-bowen{
        padding-bottom: 0;
    }

     /* contact */
     iframe{
        height: 250px!important;
    }

    /* servicii */
    .servicii-content-item .servicii-content-item-img-wrapper{
        width: 70%;
    }

    /* galerie */
    #galerie-content{
        padding-bottom: 20px;
    }

    

}

@media screen and (max-width:767px){
    .m-title{
        margin-bottom: 1.2em;
    }
    .overlay-page-img-titlu{
        font-size: 2.2em;
    }
    .container{
        max-width: 100%
    }

    .slider-home-item-wrapper,
    .page-img-wrapper .col-12{
        padding: 0;
    }

    .slider-home-img::before,
    .page-img::before{
        padding-bottom: 35vh;
    }


    /* modul bowen */
    .footer-utile-wrapper{
        margin-bottom: 1em;
    }



   
}

@media screen and (max-width:575px){
    .overlay-page-img-titlu {
        font-size: 2em;
    }
    .slider-home-img::before,
    .page-img::before{
        padding-bottom: 30vh;
    }

    #slider-home .owl-nav{
        display: none;
    }

    .overlay-slider-home-subtitlu{
        font-size: 1em;
    }

    .overlay-titlu-link{
        font-size: 1.4em;
    }

    .overlay-slider-home-text{
        font-size: 1.2em;
        width: 95%;
    }

    #slider-home .owl-dots{
        display: flex;
        position: relative;
        bottom: 0;
        right: 0;
        justify-content: center;
        width: 100%;
        margin-top: -2em;
    }

    #slider-home .owl-dots .owl-dot{
        width: 0.8em;
        height: 0.8em;
        background: #fff;
        margin-right: .3em;
        border-radius: 50%;
    }

    #slider-home .owl-dots .owl-dot.active{
        background: #c6edeb;
    }

    .page-subtitlu,
    .m-subtitle{
        font-size: 1.4em;
    }


}

@media screen and (max-width:480px){
    .m-title{
        margin-bottom: 1em;
    }
    .overlay-page-img-titlu {
        font-size: 1.8em;
    }

    .overlay-slider-home-text{
        font-size: 1em;
    }
    .col-6{
        width: 100%;
    }

    .navbar-collapse.show{
        width: 100%;
    }

    .m-servicii-item-img-wrapper{
        width: 60%;
    }

    .slider-home-img::before, 
    .page-img::before {
        padding-bottom: 25vh;

    }

    .page-img.politica-confidentialitate{
        text-align: center;
    }

    iframe{
        height: 250px!important;
    }

    #btn-trimite.btn-primary{
        display: block;
        width: 100%;
        font-size: 1.2em;
    }


}