#servicii-content{
    padding: 50px 0;
}

.servicii-content-item-wrapper{
    margin-bottom: 2em;
}

.servicii-content-item .servicii-content-item-img-wrapper{
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid var(--secondary-color);
    width: 50%;
    margin: auto;
    transition: all .5s;
}

.servicii-content-item:hover .servicii-content-item-img-wrapper{
    box-shadow: rgb(50 50 93 / 25%) 0px 13px 27px -5px, rgb(0 0 0 / 30%) 0px 8px 16px -8px;
}

.servicii-content-item  .servicii-content-item-img{
    background-size: cover;
    background-position: center;    font-size: 1.4em;
    color: var(--text-color);
    font-weight: 600;
    padding: 5px 10px;
    /* background: var(--secondary-color); */
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    transition: all .5s;

}

.servicii-content-item:hover .servicii-content-item-img{
    transform: scale(1.2);
}

.serv-reflexoterapie{
    background-image: url('./imagini/pic1.jpg')
}

.serv-drenaj-limfatic{
    background-image: url('./imagini/pic2.jpg');
}

.serv-masaj{
    background-image: url('./imagini/pic3.jpg');
}

.serv-terapia-bowen{
    background-image: url('./imagini/pic4.jpg');
}


.servicii-content-item-img::before{
    content: '';
    display: block;
    padding-bottom: 100%;
}

.servicii-content-item .overlay-servicii-content-item-img{
    position:  absolute;
    z-index:  2;
    background:rgba(0,0,0,.5);
    top:  0;
    left:  0;
    width:  100%;
    height: 100%;
    display:  flex;
    align-items: center;
    justify-content: center;
    transition: all .5s;
    transform: scale(0);
    border-radius: 50%;
}

.servicii-content-item:hover .overlay-servicii-content-item-img{
    transform: scale(1);
}

.overlay-servicii-content-item-link{
    text-decoration: none;
    width: 50px;
    height: 50px;
    color: var(--text-color);
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s;
}

.overlay-servicii-content-item-link:hover{
    background: var(--text-color);
    color: #fff;
}



.overlay-servicii-content-item-link i{
    font-size:1.2em;
}


.servicii-content-item-titlu{
    text-transform: uppercase;
    font-size: 1.4em;
    color: var(--primary-color);
    margin-top: .5em;
    font-weight: 600;

}

.servicii-content-item-subtitlu{
    text-transform: uppercase;
    font-size: 1.2em;
    color: var(--primary-color);
    margin-bottom: .5em;
    font-weight: 600;

}

.servicii-content-item-subtitlu-text{
    font-size: 1.2em;
    color: var(--text-color);
    margin-bottom: 1em;
}

.serv-pret{
    font-size: 1.4em;
    color: var(--text-color);
    font-weight: 600;
    border-radius: 50px;
    margin-top: 1em;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
} 

.serv-pret-icon {
    display: inline-block;
    margin-right: 0.3em;
}

.serv-pret-icon i{
    font-size: 1.6em;
    color: var(--primary-color);
}

.servicii-lista,
.contraindicatii{
    list-style: none;
    padding: 0;
    margin: 0;
}

.servicii-lista li,
.contraindicatii li{
    font-size: 1.2em;
   
}

.servicii-lista li i,
.contraindicatii li i{
    display: inline-block;
    width: 1.2em;
    font-size: 1.2em;
    color: var(--primary-color);
}

.contraindicatii li i{
    color: #b94141;
}

/* serviciu */
.serviciu-item-image{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

.serviciu-item-image{
    content: '';
    display: block;
    padding-bottom: 36%;
}



