#serv-content{
    padding: 50px 0;
}

.serv-item-img-wrapper{
    width: 50%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.serv-item-img-wrapper::after{
    position: absolute;
    content: "";
    top: -10px;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(18, 167, 167, 0.5);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    z-index: -1;
}

.serv-item-image{
    border-radius: 50%;
    overflow: hidden;
}

.serv-item .serv-item-img{
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    position: relative;
    z-index: 1;
    transition: all .5s;
}

.serv-item:hover .serv-item-img{
    transform: scale(1.2);
}

.serv-item-img::before{
    display: block;
    content: '';
    padding-bottom: 100%
}

.serv-item-img-link{
    display: block;
    overflow: hidden;
    border-radius: 50%;
}

.s-reflexoterapie{
    background-image: url('./imagini/pic1.jpg');
}

.s-drenaj{
    background-image: url('./imagini/pic2.jpg');
}

.s-masaj{
    background-image: url('./imagini/pic3.jpg');
}

.s-terapia-bowen{
    background-image: url('./imagini/pic4.jpg');
}


.serv-item-content-wrapper{
    margin-top: 1.5em;
}

.serv-item-content-titlu{
    text-align: center;
    font-size: 1.6em;
    letter-spacing: .5;
    text-transform: uppercase;
    font-weight: 600;
}

.serv-item-content-link{
    color: var(--primary-color);
    text-decoration: none;
    transition: all .5s;

}

.serv-item-content-link:hover{
    color: var(--text-color);
}

.serv-item-content-subtitlu{
    color: var(--primary-color);
    font-size: 1.4em;
    margin-bottom: .5em;
    text-transform: uppercase;
}

.serv-item-content-paragraf{
    font-size: 1.2em;
    color: var(--text-color);
    margin-bottom: .5em;
}

.serv-item-content-pret{
    display: flex;
    align-items: center;
    margin: 1em 0;

}

.serv-item-content-pret-icon{
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
}

.serv-item-content-pret-icon i{
    font-size: 1.6em;
    color: var(--primary-color);
}

.serv-item-content-pret-text{
    color: var(--text-color);
    font-size: 1.4em;
    font-weight: 600;
}

.serv-item-wrapper{
    margin-bottom: 3em;
}

.serv-item{
    height: 100%;
}

.servicii-lista{
    padding: 0;
    margin: .5em 0;
}

